*.log
*.sqlite3
public/clinical_documents
config/database.yml
coverage.data
coverage
public/laika
*.DS_Store
tmp/*
config/deploy_local.rb
*.sw[pon]
tags
config/glassfish.yml
*.pid
doc
.yardoc
Thumbs.db
.bundle
.bundle/config
vendor
dump.rdb

app/assets/javascripts/hc/examples/
app/assets/javascripts/hc/exporting-server/
app/assets/javascripts/hc/index.htm
app/assets/javascripts/hc/js/adapters/