
<div class="section">
<div class="section-header">
    <p>All Patients &bull; <%= pluralize(@records.length, "record", "records") %> found</p>
    <button class="btn info float-right" onclick="window.location='/patients/export'">Export All Patients</button>
</div>
<table id="sortable" class="zebra-striped">
    <thead>
    <tr>
        <th>Row</th>
        <th><%= t('patient.patient_id') %></th>
        <th><%= t('patient.first_name') %></th>
        <th><%= t('patient.last_name') %></th>
        <th><%= t('patient.gender') %></th>
        <th><%= t('patient.age') %></th>
        <th>DOB</th>
    </tr>
    </thead>
    <tbody>
    
    <% @results.each_with_index do |record, i|%>
        <tr>
            <td><%= i + 1 + ((params[:page] ? params[:page].to_i - 1 : 0 ) * @items_per_page.to_i ) %></td>
            <td><%= link_to record.medical_record_number, :controller => "patients", :action=>"show", :id=>record.id %></td>
            <td><%= record.first.to_s %></td>
            <td><%= record.last %></td>
            <td><%= record.gender %></td>
            <td><%= age_from_time(record.birthdate) || 'UNK' %></td>
            <td><%= Time.at(record.birthdate).strftime("%b %d, %Y") %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<div id="page-container">
    <%= will_paginate @results %>
</div>
</div> <!-- closes section-->
