
  <div id="pageContent">
    <div id="providerReports">
      <div class="groupList">
        <label class="open">OUTLIERS</label>
          <div>
            <ul class="patientList">
              <li>Hypertension BP Measurement</li>
              <li>Preventative Care & Screening: Tobacco Use and Cessation Intervention</li>
              <li>Adult Weight Screening & Follow Up</li>
              <li>Weight Assessment & Couneling for Children & Adolescents</li>
            </ul>
          </div>
            <ul>
              <li>
              <div class="measureItemList expandableList">
          </li>
          <li><label class="open">NUMERATOR</label>
            <div class="measureItemList">
              <ul>
                <li><label>ASTHMA</label>
                  <ul class="numeratorList">
                    <li><img/>Asthma Assessment</li>
                    <li>Use of Appropriate Medication for Asthma</li>
                    <li>Asthma Pharmacologic Therapy</li>
                  </ul>
                <li><label>CANCER</label>
                </li>
                <li><label>DIABETES</label>
                </li>
                <li><label>HEART CONDITIONS</label>
                </li>
                <li><label>HEART CONDITIONS</label>
                </li>
                <li><label>WOMEN'S HEALTH</label>
                </li>
                <li><label>MISCELLANEOUS</label>
                </li>
              </ul>
            </div>
          </li>
          <li><label class="open">DENOMINATOR</label>
            <div class="measureItemList">
            </div>
          </li>
          <li><label class="open">EXCLUSIONS</label>
            <div class="measureItemList">
            </div>
          </li>
        <ul>
      </div>
    </div>

    <div style="width: 85%; padding-left: 20px;">
      <div class="section">
        <div class="section-header">
          <p>Michelle Brewer</p>
           <button class="btn info float-right">
            <%= link_to "Export Patient", :controller => "patients", :action => "export", :id => @patient.id %>
           </button>
        </div>
          
          <div class="span8" style="display: inline-block;">
              <table class="zebra-striped condensed-table">
                <tr><td><strong>Effective Date</strong></td><td>June 18, 2006</td></tr>
                <tr><td><strong>DOB</strong></td><td><%= Time.at(@patient.birthdate).strftime("%d.%b.%Y") %></td></tr>
                <tr><td><strong>Sex</strong></td><td><%= @patient.gender %></td></tr>
              </table>
          </div>
           <div class="span8" style="display: inline-block; margin: 0 0 50px 20px;">
              <table class="zebra-striped condensed-table">
                <tr><td><strong>Health Plan</strong></td><td>Harvard Pilgrim</td></tr>
                <tr><td><strong>Policy Number</strong></td><td>XXFJIEWO5</td></tr>
                <tr><td><strong>P.C.P.</strong></td><td>Dr. Jimi Hendrix</td></tr>
              </table>
          </div>
          <div class="span8" style="display: inline-block;">
              <table class="zebra-striped condensed-table">
                <tr><td><strong>Race</strong></td><td>White</td></tr>
                <tr><td><strong>Ethnicity</strong></td><td>Non-hispanic</td></tr>
                <tr><td><strong>Language</strong></td><td>English</td></tr>
                <tr><td><strong>Blood type</strong></td><td>O</td></tr>
                <tr><td><strong>Tobacco User</strong></td><td>No</td></tr>
              </table>
          </div>
          
          <hr>
          
          <div class="span8" id="allergies" style="display: inline-block;">
            <div class="sectionHeadingbar"><h3>Allergies</h3></div>
              <p>Penicillin</p>
          </div>

          <div class="span8" id="physical-exam" style="display: inline-block;">
            <div class="sectionHeadingbar"><h3>Physical Exam Findings</h3></div>
            <table class="condensed-table">
              <thead>
                <tr><th></th><th>Measurement</th><th>Range</td></tr>
              </thead>
                <tr><td><strong>Height</strong></td><td>5'9</td><td></td></tr>
                <tr><td><strong>Weight</strong></td><td>196 LBS</td><td>170-180</td></tr>
                <tr><td><strong>BMI</strong></td><td>28 kg/m2 </td><td> &lt; 25</td></tr>
                <tr><td><strong>Waist Circ.</strong></td><td>38 inches</td><td> &lt; 40 </tr>
                <tr><td><strong>BP</strong></td><td>133.93 mm/Hg</td><td> &lt; 120/80</tr>
            </table>
          </div>

          <div class="span8" id="procedure" style="display: inline-block;">
            <div class="sectionHeadingbar"><h3>Procedure</h3></div>
          </div>
          <div class="span8" id="diagnosis" style="display: inline-block;">
            <div class="sectionHeadingbar"><h3>Diagnosis</h3></div>
          </div>
          <div class="span8" id="medications" style="display: inline-block;">
            <div class="sectionHeadingbar"><h3>Medications</h3></div>
          </div>

          <div class="span8" id="lab-results" style="display: inline-block;">
            <div class="sectionHeadingbar"><h3>LAB RESULTS</h3></div>
            <table class="condensed-table">
              <tbody>
                <tr>
                  <th></th>
                  <th></th>
                  <th>MEASUREMENT</th>
                  <th></th>
                  <th>RANGE</th>
                </tr>
                <tr>
                  <th>cholesterol</th>
                  <td>total <img/></td>
                  <td>223</td>
                  <td>mg/dl</td>
                  <td>100-199</td>
                </tr>
                <tr>
                  <th></th>
                  <td>LDL <img/></td>
                  <td>171</td>
                  <td>mg/dl</td>
                  <td>40-130</td>
                </tr>
                <tr>
                  <th></th>
                  <td>HDL <img/></td>
                  <td>41</td>
                  <td>mg/dl</td>
                  <td>40-70</td>
                </tr>
                <tr>
                  <th>triglyceriders</th>
                  <td><img/></td>
                  <td>66</td>
                  <td>mg/dl</td>
                  <td>70-172</td>
                </tr>
                <tr>
                  <th>glucose</th>
                  <td>IMG</td>
                  <td>99</td>
                  <td>mg/dl</td>
                  <td>72-137</td>
                </tr>
              </tbody>
            </table>
          </div>

         <div class="span8" id="vaccines" style="display: inline-block;"> 
          <div class="sectionHeadingbar"><h3>VACCINES</h3></div>
            <table>
              <tbody>
                <tr>
                  <th>tetanus</th>
                  <td><li>1. 03.April.2003</li><li>2. 05.April.2005</li><li>3. INCOMPLETE</li></td>
                </tr>
                <tr>
                  <th>TB</th>
                  <td></td>
                </tr>
                <tr>
                  <th>MMR</th>
                  <td><li>INCOMPLETE</li></td>
                </tr>
                <tr>
                  <th>hepatitis A</th>
                  <td><li>INCOMPLETE</li></td>
                </tr>
                <tr>
                  <th>hepatitis B</th>
                  <td><li>INCOMPLETE</li></td>
                </tr>
                <tr>
                  <th>diphtheria</th>
                  <td><li>INCOMPLETE</li></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div><!-- close section -->
    </div> <!-- close content-container -->

    
    </div>
  </div>
